<header>
  <div class="header-content">
    <div class="header-left">
      <h1><a routerLink="/home">Task Manager</a></h1>
      <div class="search-box">
        <span class="material-icons search-icon">search</span>
        <input type="text" placeholder="検索" class="search-input" [(ngModel)]="searchText" (keydown.enter)="onSearch()">
        <div class="search-popup-backdrop" *ngIf="filteredProjects.length > 0" (click)="closeSearchPopup()"></div>
        <div class="search-popup" *ngIf="filteredProjects.length > 0 || filteredIssues.length > 0 || filteredTodos.length > 0">
          <button class="close-popup-btn" (click)="closeSearchPopup()">×</button>
          <div *ngIf="filteredProjects.length > 0">
            <div class="search-popup-label">プロジェクト</div>
            <ul>
              <li *ngFor="let project of filteredProjects" (click)="goToProjectDetail(project)" class="search-result-item">{{ project.title }}</li>
            </ul>
          </div>
          <div *ngIf="filteredIssues.length > 0">
            <div class="search-popup-label">課題</div>
            <ul>
              <li *ngFor="let issue of filteredIssues" (click)="goToIssueDetail(issue)" class="search-result-item">{{ issue.title }}</li>
            </ul>
          </div>
          <div *ngIf="filteredTodos.length > 0">
            <div class="search-popup-label">ToDo</div>
            <ul>
              <li *ngFor="let todo of filteredTodos" (click)="goToTodoParentIssue(todo)" class="search-result-item">{{ todo.title }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/projects">Project</a></li>
        <li><a routerLink="/todo-list">ToDo</a></li>
        <li><a routerLink="/calendar">Calendar</a></li>
        <li><a routerLink="/remainder-list">My Notes</a></li>
      </ul>
    </nav>
    <div class="header-actions">
      <a routerLink="/notification" class="icon-button">
        <span class="material-icons">notifications</span>
      </a>
      <a routerLink="/setting" class="icon-button">
        <span class="material-icons">settings</span>
      </a>
      <button class="icon-button" (click)="logout()">
        <span class="material-icons">logout</span>
      </button>
    </div>
  </div>
</header> 