.container {
  min-height: 100vh;
  background-color: #f9fafb;
}

h1 {
  color: #111827;
  margin: 0;
  padding: 0;
  display: block;
}

.flex {
  display: flex !important;
}

.project-list-container {
  margin-top: 64px; /* ヘッダーの高さ分 */
  min-height: calc(100vh - 64px); /* 画面の高さからヘッダーの高さを引いた分 */
  background-color: #f9fafb;
  padding: 2rem 0;
}
