<div class="home-container">
  <h1>Welcome to Task Manager</h1>
  <div class="button-grid">
    <a routerLink="/projects" class="feature-button">
      <span class="material-icons">folder</span>
      <span>Project List</span>
    </a>
    <a routerLink="/todo-list" class="feature-button">
      <span class="material-icons">check_circle</span>
      <span>ToDo List</span>
    </a>
    <a routerLink="/calendar" class="feature-button">
      <span class="material-icons">calendar_today</span>
      <span>Calendar</span>
    </a>
    <a routerLink="/archive" class="feature-button">
      <span class="material-icons">archive</span>
      <span>Archive</span>
    </a>
  </div>
</div>